.about-section-two {

    .heading {
        margin-bottom: 76px;
    }

    .about-ssTwo-slide {
        background-color: #F8F5EF;
        margin-bottom: 0;
        padding-bottom: 50px;

        .vc_row {
            margin: 0 !important;
        }

        .vc_column-inner {
            padding: 0 !important;
        }

        .slick-track {
            padding-bottom: 75px;
        }

        .slick-slide {
            background-color: #F8F5EF;
            box-shadow: 0 40px 50px 0 #6F5B3A1A;

            .slide-image {
                .wpb_single_image {
                    margin-bottom: 0;

                    img {
                        aspect-ratio: 705 / 400;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .slide-content {
                padding: 86px 0 0 30px;


                .about-sstwo-heading {
                    font-size: 36px;
                    line-height: 54px;
                    font-weight: 700;
                    color: $color-primary;
                    font-family: $font-secondary;
                    margin-bottom: 32px;
                }

                .about-sstwo-subheading {
                    max-width: 50%;

                    @media(max-width: 991px) {
                        max-width: 100%;
                    }

                    p {
                        font-size: 16px;
                        line-height: 27px;
                        font-weight: 400;
                        color: #302f2f;
                        font-family: $font-primary;
                    }
                }
            }
        }

        .slick-dots {
            bottom: 20px;


            li {
                margin: 0 4px;
                width: max-content;
                height: max-content;

                &.slick-active {
                    button::before {
                        opacity: 1;
                    }
                }

                button {
                    @media(max-width: 768px) {
                        width: 8px;
                        height: 8px;
                    }

                    &::before {
                        color: #C4A67B;
                        font-size: 50px;
                        width: 20px;
                        height: max-content;
                        opacity: 0.4;

                        @media(max-width: 768px) {
                            font-size: 32px;
                            line-height: 8px;
                        }
                    }
                }
            }
        }

        .slick-arrow {
            border: 1px solid #6F5B3A;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 32px 32px;
            transform: translate(0, 0);
            top: unset;
            bottom: 0;
            z-index: 10;
            transition: all 0.4s;



            &::before {
                display: none;
            }

            &.slick-prev {
                background-image: url("../imgs/icons/arrow-slide.svg");
                left: 40%;

                &:hover {
                    background-color: $color-white;
                    border: 1px solid $color-white;
                    box-shadow: 0 20px 40px 0 #5D4C3026;
                }
            }


            &.slick-next {
                background-image: url("../imgs/icons/arrow-slide.svg");
                transform: translate(0, 0) scale(-1);
                right: 40%;

                @media(min-width: 992px) and (max-width: 1025px) {
                    right: 26%;
                }

                &:hover {
                    background-color: $color-white;
                    border: 1px solid $color-white;
                    box-shadow: 20px 0 40px 0 #5D4C3026;
                }
            }
        }
    }
}

.about-section-three {
    padding: 107px 0 238px !important;
    background-color: #F8F5EF;

    .custom-height-element {
        display: flex;
        align-items: stretch;
        margin-bottom: 30px;
    }

    .box-content {
        >.vc_column-inner {
            height: 100%;

            >.wpb_wrapper {
                display: flex;
                gap: 42px;
                padding: 40px 24px;
                background-color: white;
                box-shadow: 0 40px 50px 0 #5D4C3014;
                height: 100%;
                align-items: center;
            }
        }

        .wpb_single_image {
            width: 20%;

            img {
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }

        .wpb_text_column {
            width: 80%;
            margin-bottom: 0;

            p {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                font-family: $font-primary;
                color: #595959;

                strong {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #302F2F;
                }
            }
        }
    }
}

.about-section-four {
    padding: 85px 0 100px !important;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000000B8;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .vc_custom_heading {
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
        font-family: $font-secondary;
        text-align: center !important;
        color: #FFFFFF;
        margin-bottom: 70px;
        text-transform: uppercase;
    }

    .wrapper {
        display: flex;

        .box-content {
            width: calc(100% / 5);
            position: relative;

            &:not(:last-child)::before {
                position: absolute;
                content: '';
                width: 1px;
                height: calc(100% - 40px);
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                background: linear-gradient(0deg, rgba(207, 216, 215, 0) 0%, rgba(207, 216, 215, 1) 40%, rgba(207, 216, 215, 1) 60%, rgba(207, 216, 215, 0) 100%);

            }

            .wpb_single_image {
                margin-bottom: 45px;
                display: flex;
                justify-content: center;

                img {
                    height: 70px;
                    width: auto;
                    object-fit: contain;
                }
            }

            .wpb_text_column {
                p {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 600;
                    font-family: $font-primary;
                    text-align: center;
                    color: #CFD8D7;
                }
            }
        }
    }
}