$font-primary: "Open Sans", sans-serif;
$font-secondary: "Cormorant", serif;
// Colors
$color-primary: #B7925D;
$color-secondary: #113a39;
$color-white: #FFFFFF;
$color-black: #000000;

// text color
$dark: #302F2F;
$gray: #595959;
$grown: #5d4c30;