/*
Button background color
*/
/*
String Replace
*/
/*
Font Face
*/
/*
Cut text
*/
/*
flexbox
*/
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-display: auto !important;
}

ul {
  list-style: none;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #B5DBAB;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.editor-post-featured-image .components-responsive-wrapper__content,
.components-responsive-wrapper__content {
  position: relative !important;
}

button:focus,
button {
  outline: none;
}

.page-container {
  width: 100%;
  max-width: 1170px !important;
  margin: 0 auto !important;
  position: relative;
}
@media (max-width: 1170px) {
  .page-container {
    max-width: 1138px !important;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .page-container {
    max-width: unset !important;
  }
}

body .page .heading p,
body .page .heading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #113a39;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  body .page .heading p,
  body .page .heading {
    font-size: 24px;
    line-height: 36px;
  }
}
body .page .sub-heading p,
body .page .sub-heading a {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-style: italic;
  color: #B7925D;
}
@media (max-width: 768px) {
  body .page .sub-heading p,
  body .page .sub-heading a {
    font-size: 14px;
    line-height: 21px;
  }
}
body .page .sub-heading-big a,
body .page .sub-heading-big p {
  font-weight: 300;
  line-height: 24px;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
body .page .desc p,
body .page .desc a {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-style: italic;
  color: #595959;
}
@media (max-width: 768px) {
  body .page .desc p,
  body .page .desc a {
    font-size: 14px;
    line-height: 21px;
  }
}
body .page .button-view-more a {
  width: max-content;
  padding: 0 50px;
  height: 52px;
  border: 1px solid #B7925D !important;
  border-radius: 8px;
  background-color: #B7925D !important;
  color: #FFFFFF !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.01px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  margin: 0 auto;
  box-shadow: 0 10px 40px 0 rgba(92, 71, 0, 0.3607843137);
}
@media (max-width: 768px) {
  body .page .button-view-more a {
    font-size: 14px;
    line-height: 24px;
    padding: 0 40px;
  }
}
body .page .button-view-more a:hover {
  background-color: #FFFFFF !important;
  color: #B7925D !important;
  border: 1px solid #B7925D;
}

#primary-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 160px;
  background-color: transparent;
  transition: all 0.4s;
  z-index: 999;
}
@media (max-width: 991px) {
  #primary-header {
    height: 145px;
  }
}
#primary-header.scrolled {
  background-color: #113a39;
}
#primary-header .navbar {
  width: 100%;
  height: 100%;
}
#primary-header .navbar .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .navbar-toggler {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    position: relative;
    z-index: 2;
  }
}
#primary-header .navbar .inner .navbar-toggler svg {
  transition: all 0.4s;
}
#primary-header .navbar .inner .navbar-toggler svg.hidden {
  opacity: 0;
}
#primary-header .navbar .inner .navbar-brand {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.4s linear;
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .navbar-brand.showMenu {
    top: 72px;
    z-index: 2;
  }
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .navbar-brand {
    top: 24px;
    height: 120px;
  }
}
#primary-header .navbar .inner .navbar-brand img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
#primary-header .navbar .inner .menu-primary-menu-container {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container.is-show {
    transform: translate(0);
  }
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #113a39;
    transform: translateX(100%);
    transition: all 0.4s;
  }
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 44px 0 0 0;
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container .header__menu {
    padding-top: 200px;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children:not(:last-child) {
    border-bottom: 1px solid rgba(207, 216, 215, 0.1019607843);
  }
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > a {
  display: none;
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  column-gap: 32px;
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  #primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu > .menu-item {
    padding: 16px 0;
    border-bottom: 1px solid rgba(207, 216, 215, 0.1019607843);
    width: calc(100% - 32px);
    text-align: center;
  }
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu > .menu-item:last-child {
  border-bottom: 0 !important;
}
@media (min-width: 992px) {
  #primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu > .menu-item.current_page_item > a {
    color: #B7925D;
  }
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu > .menu-item > a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Cormorant", serif;
  letter-spacing: 0.03px;
  color: #FFFFFF;
  transition: all 0.4s;
}
#primary-header .navbar .inner .menu-primary-menu-container .header__menu > .menu-item-has-children > .sub-menu > .menu-item > a:hover {
  color: #B7925D;
}

footer#footer {
  background-color: #113a39;
  padding: 24px 0;
}
footer#footer .inner {
  display: flex;
  gap: 76px;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  footer#footer .inner {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  footer#footer .inner {
    margin-bottom: 0;
    gap: 0;
  }
}
footer#footer .footer-left {
  width: calc(30% - 38px);
}
@media (max-width: 991px) {
  footer#footer .footer-left {
    width: 100%;
  }
}
footer#footer .footer-left .logo-footer {
  display: block;
  aspect-ratio: 209/177;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  footer#footer .footer-left .logo-footer {
    width: 40%;
  }
}
footer#footer .footer-left .logo-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer#footer .footer-left .desc-footer p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.01px;
  color: #cfd8d7;
}
footer#footer .footer-right {
  width: calc(70% - 38px);
  padding-top: 42px;
}
@media (max-width: 991px) {
  footer#footer .footer-right {
    width: 100%;
    padding-top: 0;
  }
}
footer#footer .footer-right .box-content {
  display: flex;
  gap: 90px;
}
@media (max-width: 1199px) {
  footer#footer .footer-right .box-content {
    gap: 40px;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  footer#footer .footer-right .box-content {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  footer#footer .footer-right .box-content {
    flex-direction: column;
    gap: 0;
  }
}
footer#footer .item-content {
  width: 33.3333333333%;
}
@media (max-width: 991px) {
  footer#footer .item-content {
    width: max-content;
    max-width: 33.3333333333%;
  }
}
@media (max-width: 768px) {
  footer#footer .item-content {
    width: 100%;
    max-width: 100%;
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.0784313725);
  }
}
footer#footer .item-content .item-title a,
footer#footer .item-content .item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Cormorant", serif;
  letter-spacing: -0.03px;
  color: #B7925D;
  margin-bottom: 25px;
  cursor: default;
  pointer-events: none;
}
@media (max-width: 768px) {
  footer#footer .item-content .item-title a,
  footer#footer .item-content .item-title {
    width: 100%;
    margin-bottom: 16px;
  }
}
footer#footer .item-content .item-submenu {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
footer#footer .item-content .item-submenu .submenu-item {
  display: flex;
  column-gap: 16px;
}
footer#footer .item-content .item-submenu .submenu-item a,
footer#footer .item-content .item-submenu .submenu-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.01px;
  color: #cfd8d7;
  transition: all 0.4s;
}
footer#footer .item-content .item-submenu .submenu-item a.icon,
footer#footer .item-content .item-submenu .submenu-item span.icon {
  display: flex;
  margin-top: 4px;
}
footer#footer .item-content .item-submenu .submenu-item a.color-primary {
  color: #B7925D;
}
footer#footer .item-content .item-submenu .submenu-item a.color-primary:hover {
  color: #cfd8d7;
}
footer#footer .item-content .item-submenu .submenu-item a:hover {
  color: #B7925D;
}
footer#footer .footer__menu {
  padding: 0;
}
@media (max-width: 768px) {
  footer#footer .footer__menu {
    display: flex;
    flex-wrap: wrap;
  }
}
footer#footer .footer__menu .menu-item:not(.item-title) {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  footer#footer .footer__menu .menu-item:not(.item-title) {
    width: 50%;
  }
}
footer#footer .footer__menu .menu-item:not(.item-title):last-child {
  margin-bottom: 0;
}
footer#footer .footer__menu .menu-item:not(.item-title) > a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.01px;
  color: #cfd8d7;
  transition: all 0.4s;
}
footer#footer .footer__menu .menu-item:not(.item-title) > a:hover {
  color: #B7925D;
}
footer#footer .list-social {
  padding: 0;
  gap: 6px;
}
@media (max-width: 991px) {
  footer#footer .list-social {
    margin: 16px 0 24px;
  }
}
footer#footer .list-social .item-social a {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(207, 216, 215, 0.5019607843);
  border-radius: 50%;
  background-color: #113A39;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  footer#footer .list-social .item-social a {
    width: 44px;
    height: 44px;
  }
}
footer#footer .list-social .item-social a:hover {
  background-color: white;
}
footer#footer .list-social .item-social a:hover svg path {
  fill: #113A39;
}
footer#footer .copy-right {
  border-top: 1px solid rgba(255, 255, 255, 0.0784313725);
  padding-top: 24px;
}
@media (max-width: 768px) {
  footer#footer .copy-right {
    margin: 0 24px;
  }
}
@media (max-width: 768px) {
  footer#footer .copy-right .page-container {
    padding: 0 !important;
  }
}
footer#footer .copy-right .copy-right-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
footer#footer .copy-right .copy-right-wrap p {
  color: #CFD8D7;
  font-size: 16px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
@media (max-width: 768px) {
  footer#footer .copy-right .copy-right-wrap p {
    font-size: 14px;
    line-height: 21px;
  }
}
footer#footer .copy-right .copy-right-wrap p em {
  font-size: 14px;
}
@media (max-width: 768px) {
  footer#footer .copy-right .copy-right-wrap p em {
    font-size: 12px;
    line-height: 21px;
  }
}

body .page .section-banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .page .section-banner .banner-heading {
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cormorant", serif;
  background: linear-gradient(to bottom, #B7925D 25%, #FFCB1F 100%);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  body .page .section-banner .banner-heading {
    display: none;
  }
}
body .page .home-section-one {
  padding: 0 !important;
}
@media (min-width: 600px) and (max-width: 991px) {
  body .page .home-section-one {
    width: 100% !important;
    aspect-ratio: 375/400;
    height: max-content;
    display: flex;
    align-items: center;
  }
}
body .page .home-section-one::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 50%, rgb(255, 255, 255) 100%);
}
body .page .home-section-one .box-content {
  padding-top: 140px;
  padding-bottom: 292px;
  width: 80%;
  margin: 0 auto;
  float: unset;
}
@media (max-width: 991px) {
  body .page .home-section-one .box-content {
    padding-top: 42px;
    padding-bottom: 154px;
    width: 100%;
  }
}
body .page .home-section-one .box-content > .vc_column-inner {
  padding: 0;
}
body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .heading {
  margin: 0 !important;
}
@media (max-width: 768px) {
  body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .heading {
    text-align: center !important;
  }
}
body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .sub-heading {
  margin: 16px 0 33px !important;
}
@media (max-width: 768px) {
  body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .sub-heading {
    display: none;
  }
}
body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .desc {
  margin-bottom: 68px;
}
@media (max-width: 768px) {
  body .page .home-section-one .box-content > .vc_column-inner > .wpb_wrapper .desc {
    margin: 16px 0 42px;
  }
}
body .page .home-section-two {
  padding-top: 0 !important;
}
@media (max-width: 991px) {
  body .page .home-section-two .page-container {
    padding: 0 !important;
    max-width: 100% !important;
  }
}
body .page .home-section-two.translate-top {
  transform: translateY(-100px);
}
@media (max-width: 991px) {
  body .page .home-section-two.translate-top {
    transform: translateY(0);
  }
}
body .page .home-section-two .box-header {
  padding: 108px 0 72px;
}
@media (max-width: 768px) {
  body .page .home-section-two .box-header {
    padding: 37px 0;
  }
}
body .page .home-section-two .box-header .vc_column-inner {
  padding: 0 !important;
}
body .page .home-section-two .box-header .heading {
  text-transform: uppercase;
}
body .page .home-section-two #slick-slider-home .slide-image {
  margin: 0 -15px 105px;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-image {
    margin-bottom: 0;
  }
}
body .page .home-section-two #slick-slider-home .slide-image img {
  aspect-ratio: 1170/450;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-image img {
    aspect-ratio: 375/144;
  }
}
body .page .home-section-two #slick-slider-home .slide-content {
  background-color: #FFFFFF;
  display: flex;
  align-items: stretch;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content {
    position: relative;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .vc_column-inner {
  padding: 0 !important;
}
body .page .home-section-two #slick-slider-home .slide-content .content-left {
  padding: 40px 70px;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-left {
    padding: 20px 24px 44px;
    width: 100%;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-left > .vc_column-inner > .wpb_wrapper {
  display: flex;
  flex-direction: column;
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-sub-heading {
  margin-bottom: 0;
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-sub-heading p {
  color: #B7925D;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.01px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-sub-heading p {
    font-size: 16px;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-heading {
  color: #5D4C30;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: -0.01px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 32px 0;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-heading {
    font-size: 24px;
    margin: 12px 0 30px;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-desc {
  margin-bottom: 0;
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-desc p {
  color: #595959;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-left .slide-desc p {
    font-size: 14px;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .btn-cta {
  margin-top: 60px;
  margin-left: auto;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-left .btn-cta {
    display: none;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .btn-cta a {
  padding: 0;
  background-image: url("../imgs/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 96px;
  background-color: transparent;
  border: 0;
  transition: all 0.4s;
}
body .page .home-section-two #slick-slider-home .slide-content .content-left .btn-cta a:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-right > .vc_column-inner {
  height: 100%;
  position: relative;
}
body .page .home-section-two #slick-slider-home .slide-content .content-right .wpb_single_image {
  padding: 48px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-right .wpb_single_image {
    padding: 16px;
  }
}
body .page .home-section-two #slick-slider-home .slide-content .content-right img {
  aspect-ratio: 202/214;
  width: 202px;
  height: 214px;
  object-fit: cover;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slide-content .content-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
body .page .home-section-two #slick-slider-home .slick-track {
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slick-track {
    padding-bottom: 80px;
  }
}
body .page .home-section-two #slick-slider-home .slick-dots {
  bottom: 40px;
}
@media (min-width: 769px) and (max-width: 991px) {
  body .page .home-section-two #slick-slider-home .slick-dots {
    bottom: 90px;
  }
}
body .page .home-section-two #slick-slider-home .slick-dots li {
  margin: 0 4px;
  width: max-content;
  height: max-content;
}
body .page .home-section-two #slick-slider-home .slick-dots li.slick-active button::before {
  opacity: 1;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slick-dots li button {
    width: 8px;
    height: 8px;
  }
}
body .page .home-section-two #slick-slider-home .slick-dots li button::before {
  color: #C4A67B;
  font-size: 50px;
  width: 20px;
  height: max-content;
  opacity: 0.4;
}
@media (max-width: 768px) {
  body .page .home-section-two #slick-slider-home .slick-dots li button::before {
    font-size: 32px;
    line-height: 8px;
  }
}
body .page .home-section-two #slick-slider-home .slick-arrow {
  border: 1px solid #6F5B3A;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  transform: translate(0, 0);
  top: unset;
  bottom: 20px;
  z-index: 10;
  transition: all 0.4s;
}
body .page .home-section-two #slick-slider-home .slick-arrow::before {
  display: none;
}
body .page .home-section-two #slick-slider-home .slick-arrow.slick-prev {
  background-image: url("../imgs/icons/arrow-slide.svg");
  left: 30%;
}
body .page .home-section-two #slick-slider-home .slick-arrow.slick-prev:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(93, 76, 48, 0.1490196078);
}
body .page .home-section-two #slick-slider-home .slick-arrow.slick-next {
  background-image: url("../imgs/icons/arrow-slide.svg");
  transform: translate(0, 0) scale(-1);
  right: 30%;
}
@media (min-width: 992px) and (max-width: 1025px) {
  body .page .home-section-two #slick-slider-home .slick-arrow.slick-next {
    right: 26%;
  }
}
body .page .home-section-two #slick-slider-home .slick-arrow.slick-next:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 20px 0 40px 0 rgba(93, 76, 48, 0.1490196078);
}
body .page .home-section-three {
  padding: 0 0 144px;
}
@media (max-width: 991px) {
  body .page .home-section-three {
    padding: 55px 0 47px;
  }
}
body .page .home-section-three::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(248, 245, 239, 0.6) 0%, rgb(248, 245, 239) 54%, rgb(248, 245, 239) 100%);
}
body .page .home-section-three .vc_column-inner {
  padding: 0;
}
@media (max-width: 1290px) {
  body .page .home-section-three .news {
    width: calc(100% - 140px);
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  body .page .home-section-three .news {
    width: 100%;
  }
}
body .page .home-section-three .news .post-wrapper {
  margin: 0 -15px;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper {
    margin: 0;
  }
}
body .page .home-section-three .news .post-wrapper .list-post {
  padding: 0;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-list {
  padding-bottom: 48px;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-slide {
  margin: 0 15px;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper .list-post .slick-slide {
    margin: 0;
  }
}
body .page .home-section-three .news .post-wrapper .list-post .item-post .inner-post {
  background-color: white;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post .inner-post:hover {
  cursor: pointer;
  box-shadow: 0 40px 50px 0 rgba(48, 47, 47, 0.1019607843);
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__image .box-img {
  aspect-ratio: 370/240;
  width: 100%;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__image .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content {
  padding: 20px 16px 32px;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper .list-post .item-post__content {
    padding: 24px 16px 26px;
  }
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-name a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01px;
  color: #302F2F;
  transition: all 0.4s;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-name a:hover {
  color: #B7925D;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-excerpt {
  margin: 12px 0 28px;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-excerpt p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01px;
  color: #595959;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-excerpt p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-link {
  text-align: right;
}
body .page .home-section-three .news .post-wrapper .list-post .item-post__content .post-link a svg {
  width: 49px;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-dots {
  bottom: 12px;
  z-index: 12;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-dots li {
  margin: 0 4px;
  width: max-content;
  height: max-content;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-dots li.slick-active button::before {
  opacity: 1;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper .list-post .slick-dots li button {
    width: 8px;
    height: 8px;
  }
}
body .page .home-section-three .news .post-wrapper .list-post .slick-dots li button::before {
  color: #C4A67B;
  font-size: 50px;
  width: 20px;
  height: max-content;
  opacity: 0.4;
}
@media (max-width: 768px) {
  body .page .home-section-three .news .post-wrapper .list-post .slick-dots li button::before {
    font-size: 32px;
    line-height: 8px;
  }
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow {
  border: 1px solid #6F5B3A;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  transform: translate(0, -50%);
  z-index: 10;
  transition: all 0.4s;
  top: calc(50% - 40px);
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow::before {
  display: none;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow.slick-prev {
  background-image: url("../imgs/icons/arrow-slide.svg");
  left: -70px;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow.slick-prev:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(93, 76, 48, 0.1490196078);
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow.slick-next {
  background-image: url("../imgs/icons/arrow-slide.svg");
  transform: translate(0, -50%) scale(-1);
  right: -70px;
}
body .page .home-section-three .news .post-wrapper .list-post .slick-arrow.slick-next:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 20px 0 40px 0 rgba(93, 76, 48, 0.1490196078);
}
body .page .home-section-four {
  padding: 127px 0 55px !important;
}
@media (max-width: 768px) {
  body .page .home-section-four {
    padding: 110px 0 55px !important;
    background-color: white;
  }
}
@media (max-width: 768px) {
  body .page .home-section-four .heading {
    margin-bottom: 28px;
  }
}
body .page .home-section-four .slide-brands .slick-track {
  padding: 8px 0;
}
body .page .home-section-four .slide-brands .slick-slide {
  padding: 8px;
  background-color: white;
  border: 1px solid #EAE0CF;
  aspect-ratio: 370/130;
  position: relative;
  margin-right: 30px;
}
@media (max-width: 768px) {
  body .page .home-section-four .slide-brands .slick-slide {
    aspect-ratio: 178/62;
    margin-right: 14px;
  }
}
body .page .home-section-four .slide-brands .slick-slide .brand-image {
  position: unset;
}
body .page .home-section-four .slide-brands .slick-slide .wpb_single_image {
  margin: 0;
}
body .page .home-section-four .slide-brands .slick-slide .wpb_single_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  object-fit: cover;
}
body .page .home-section-five {
  padding: 172px 0 255px;
}
@media (max-width: 768px) {
  body .page .home-section-five {
    padding: 0 0 82px;
  }
}
@media (max-width: 991px) {
  body .page .home-section-five > .vc_row > .wpb_column {
    width: 100%;
  }
}
body .page .home-section-five > .vc_row > .wpb_column > .vc_column-inner {
  padding: 0;
}
body .page .home-section-five .ssFive-desc {
  margin: 30px 0 64px;
}
@media (max-width: 768px) {
  body .page .home-section-five .ssFive-desc {
    margin: 10px 0 28px;
  }
}
body .page .home-section-five .ssFive-desc p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #595959;
}
@media (max-width: 768px) {
  body .page .home-section-five .ssFive-desc p {
    font-size: 14px;
    line-height: 24px;
  }
}

.about-section-two .heading {
  margin-bottom: 76px;
}
.about-section-two .about-ssTwo-slide {
  background-color: #F8F5EF;
  margin-bottom: 0;
  padding-bottom: 50px;
}
.about-section-two .about-ssTwo-slide .vc_row {
  margin: 0 !important;
}
.about-section-two .about-ssTwo-slide .vc_column-inner {
  padding: 0 !important;
}
.about-section-two .about-ssTwo-slide .slick-track {
  padding-bottom: 75px;
}
.about-section-two .about-ssTwo-slide .slick-slide {
  background-color: #F8F5EF;
  box-shadow: 0 40px 50px 0 rgba(111, 91, 58, 0.1019607843);
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-image .wpb_single_image {
  margin-bottom: 0;
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-image .wpb_single_image img {
  aspect-ratio: 705/400;
  width: 100%;
  object-fit: cover;
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-content {
  padding: 86px 0 0 30px;
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-content .about-sstwo-heading {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: #B7925D;
  font-family: "Cormorant", serif;
  margin-bottom: 32px;
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-content .about-sstwo-subheading {
  max-width: 50%;
}
@media (max-width: 991px) {
  .about-section-two .about-ssTwo-slide .slick-slide .slide-content .about-sstwo-subheading {
    max-width: 100%;
  }
}
.about-section-two .about-ssTwo-slide .slick-slide .slide-content .about-sstwo-subheading p {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #302f2f;
  font-family: "Open Sans", sans-serif;
}
.about-section-two .about-ssTwo-slide .slick-dots {
  bottom: 20px;
}
.about-section-two .about-ssTwo-slide .slick-dots li {
  margin: 0 4px;
  width: max-content;
  height: max-content;
}
.about-section-two .about-ssTwo-slide .slick-dots li.slick-active button::before {
  opacity: 1;
}
@media (max-width: 768px) {
  .about-section-two .about-ssTwo-slide .slick-dots li button {
    width: 8px;
    height: 8px;
  }
}
.about-section-two .about-ssTwo-slide .slick-dots li button::before {
  color: #C4A67B;
  font-size: 50px;
  width: 20px;
  height: max-content;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .about-section-two .about-ssTwo-slide .slick-dots li button::before {
    font-size: 32px;
    line-height: 8px;
  }
}
.about-section-two .about-ssTwo-slide .slick-arrow {
  border: 1px solid #6F5B3A;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  transform: translate(0, 0);
  top: unset;
  bottom: 0;
  z-index: 10;
  transition: all 0.4s;
}
.about-section-two .about-ssTwo-slide .slick-arrow::before {
  display: none;
}
.about-section-two .about-ssTwo-slide .slick-arrow.slick-prev {
  background-image: url("../imgs/icons/arrow-slide.svg");
  left: 40%;
}
.about-section-two .about-ssTwo-slide .slick-arrow.slick-prev:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(93, 76, 48, 0.1490196078);
}
.about-section-two .about-ssTwo-slide .slick-arrow.slick-next {
  background-image: url("../imgs/icons/arrow-slide.svg");
  transform: translate(0, 0) scale(-1);
  right: 40%;
}
@media (min-width: 992px) and (max-width: 1025px) {
  .about-section-two .about-ssTwo-slide .slick-arrow.slick-next {
    right: 26%;
  }
}
.about-section-two .about-ssTwo-slide .slick-arrow.slick-next:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 20px 0 40px 0 rgba(93, 76, 48, 0.1490196078);
}

.about-section-three {
  padding: 107px 0 238px !important;
  background-color: #F8F5EF;
}
.about-section-three .custom-height-element {
  display: flex;
  align-items: stretch;
  margin-bottom: 30px;
}
.about-section-three .box-content > .vc_column-inner {
  height: 100%;
}
.about-section-three .box-content > .vc_column-inner > .wpb_wrapper {
  display: flex;
  gap: 42px;
  padding: 40px 24px;
  background-color: white;
  box-shadow: 0 40px 50px 0 rgba(93, 76, 48, 0.0784313725);
  height: 100%;
  align-items: center;
}
.about-section-three .box-content .wpb_single_image {
  width: 20%;
}
.about-section-three .box-content .wpb_single_image img {
  width: auto;
  height: auto;
  object-fit: contain;
}
.about-section-three .box-content .wpb_text_column {
  width: 80%;
  margin-bottom: 0;
}
.about-section-three .box-content .wpb_text_column p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #595959;
}
.about-section-three .box-content .wpb_text_column p strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #302F2F;
}

.about-section-four {
  padding: 85px 0 100px !important;
}
.about-section-four::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7215686275);
  top: 0;
  left: 0;
  z-index: 1;
}
.about-section-four .vc_custom_heading {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  font-family: "Cormorant", serif;
  text-align: center !important;
  color: #FFFFFF;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.about-section-four .wrapper {
  display: flex;
}
.about-section-four .wrapper .box-content {
  width: 20%;
  position: relative;
}
.about-section-four .wrapper .box-content:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 40px);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: linear-gradient(0deg, rgba(207, 216, 215, 0) 0%, rgb(207, 216, 215) 40%, rgb(207, 216, 215) 60%, rgba(207, 216, 215, 0) 100%);
}
.about-section-four .wrapper .box-content .wpb_single_image {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}
.about-section-four .wrapper .box-content .wpb_single_image img {
  height: 70px;
  width: auto;
  object-fit: contain;
}
.about-section-four .wrapper .box-content .wpb_text_column p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #CFD8D7;
}

/*# sourceMappingURL=style.css.map */
